.home-container {
    text-align: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}

.home-container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
}

.home-container button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.home-container button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.selector-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.selector-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selector-container select:focus {
    outline: none;
    border-color: #007BFF;
}
