body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo, .footer-related, .footer-contact, .footer-social {
    flex: 1;
    margin: 1rem;
}

.footer-logo .logo {
    width: 150px;
    margin-bottom: 1rem;
}

.footer-related ul {
    list-style: none;
    padding: 0;
}

.footer-related ul li {
    margin-bottom: 0.5rem;
}

.footer-contact p {
    margin: 0.3rem 0;
}

.footer-social .social-icons {
    display: flex;
    gap: 10px;
}

.footer-social .social-icons img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 1rem;
    }

    .footer-section {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo, .footer-related, .footer-contact, .footer-social {
        flex: none;
        margin: 0.5rem 0;
        text-align: center;
    }
}

/* Asegura que el pie de página se quede al final de la página */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed
}
