body{
  background-image: url(https://i.pinimg.com/736x/31/76/88/317688ecae40af2034b2a58215619132.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}